# Capstone Dummy Notebook

### This notebook contains the rough work of my Final Capstone Project. Here I will extract and clean data from various sources, perform various methods of exploratory analysis and draw any conclusions I find.

### Data Requirements:

* City census data of Toronto and New York City
* Foursquare api location data

<h2><a id = "top"></a>Structure</h2>

1. <a href = "#item1"> Acquiring Census Data</a><br>

2. <a href = "#item2"> Acquiring Foursquare Data</a><br>

3. <a href = "#item3"> Creating a map of toronto </a><br>

4. <a href = "#item4"> Foursquare data for each Borough in Toronto</a><br>

5. <a href = "#item5"> Creating a Master Map </a><br>

In [5]:
# @hidden_cell
import pandas as pd
import numpy as np
import json # library to handle JSON files
import requests # library to handle requests
import io
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe
import matplotlib.cm as cm
import matplotlib.colors as colors
import matplotlib as plt

<h2><a id = 'item1'></a> Acquiring Census Data of Toronto and New York</h2>

This is census data of the neighbourhood profiles in Toronto

In [3]:
url = 'https://ckan0.cf.opendata.inter.prod-toronto.ca/download_resource/ef0239b1-832b-4d0b-a1f3-4153e53b189e?format=csv'
tor_data = pd.read_csv(url)
tor_data

,_id,Category,Topic,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
0,1,Neighbourhood Information,Neighbourhood Information,City of Toronto,Neighbourhood Number,NaN,129,128,20,95,...,37,7,137,64,60,94,100,97,27,31
1,2,Neighbourhood Information,Neighbourhood Information,City of Toronto,TSNS2020 Designation,NaN,No Designation,No Designation,No Designation,No Designation,...,No Designation,No Designation,NIA,No Designation,No Designation,No Designation,No Designation,No Designation,NIA,Emerging Neighbourhood
2,3,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2016","2,731,571","29,113","23,757","12,054","30,526",...,"16,936","22,156","53,485","12,541","7,865","14,349","11,817","12,528","27,593","14,804"
3,4,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2011","2,615,060","30,279","21,988","11,904","29,177",...,"15,004","21,343","53,350","11,703","7,826","13,986","10,578","11,652","27,713","14,687"
4,5,Population,Population and dwellings,Census Profile 98-316-X2016001,Population Change 2011-2016,4.50%,-3.90%,8.00%,1.30%,4.60%,...,12.90%,3.80%,0.30%,7.20%,0.50%,2.60%,11.70%,7.50%,-0.40%,0.80%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2378,2379,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,Migrants,"400,950","3,170","3,145",925,"6,390",...,"3,765","2,270","7,260",985,620,"1,350","2,425","2,310","4,965","1,345"
2379,2380,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,Internal migrants,"184,120",880,980,680,"3,930",...,"1,545","1,110","1,720",610,395,780,"1,260","1,355","1,700",580
2380,2381,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,Intraprovincial migrants,"141,135",735,760,615,"2,630",...,"1,070",960,"1,400",350,320,570,970,"1,025","1,490",445
2381,2382,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,Interprovincial migrants,"42,985",135,220,70,"1,310",...,475,150,335,250,85,210,290,325,195,135
2382,2383,Mobility,Mobility status - Place of residence 5 years ago,Census Profile 98-316-X2016001,External migrants,"216,835","2,280","2,170",245,"2,460",...,"2,220","1,175","5,540",395,220,575,"1,160",955,"3,285",775

This is population data of New York

In [4]:
url2 = 'https://www.baruch.cuny.edu/nycdata/population-geography/population.htm'
#https://www.baruch.cuny.edu/nycdata/population-geography/pop-demography.htm
demo = pd.read_html(url2)
demo[0]

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,Population & Geography,Population & Geography,Population & Geography,Population & Geography,Population & Geography,Population & Geography,Population & Geography,Population & Geography,Population & Geography,Population & Geography,NaN
1,NaN,New York City and Greater Metropolitan Area P...,New York City and Greater Metropolitan Area P...,New York City and Greater Metropolitan Area P...,New York City and Greater Metropolitan Area P...,New York City and Greater Metropolitan Area P...,New York City and Greater Metropolitan Area P...,New York City and Greater Metropolitan Area P...,New York City and Greater Metropolitan Area P...,New York City and Greater Metropolitan Area P...,New York City and Greater Metropolitan Area P...,NaN
2,NaN,Back to Section,Back to Section,Back to Section,Back to Section,Back to Section,Back to Section,Back to Section,Back to Section,Back to Section,Back to Section,NaN
3,NaN,The Estimated 2018 Population of New York City...,The Estimated 2018 Population of New York City...,The Estimated 2018 Population of New York City...,The Estimated 2018 Population of New York City...,The Estimated 2018 Population of New York City...,The Estimated 2018 Population of New York City...,The Estimated 2018 Population of New York City...,The Estimated 2018 Population of New York City...,The Estimated 2018 Population of New York City...,The Estimated 2018 Population of New York City...,NaN
4,NaN,County,2000,2010,% Change 2000-10,Estimates*,Estimates*,Estimates*,Estimates*,Estimates*,Estimates*,NaN
5,NaN,County,2000,2010,% Change 2000-10,2013,2014,2015,2016,2017,2018,NaN
6,NaN,NYC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Bronx,1332,1387,4.1,1422,1432,1441,1445,1440,1432,NaN
8,NaN,Brooklyn (Kings),2466,2510,1.8,2589,2603,2611,2611,2596,2583,NaN
9,NaN,Manhattan (New York),1538,1589,3.3,1628,1631,1637,1636,1630,1629,NaN
10,NaN,Queens,2229,2235,0.3,2288,2300,2308,2309,2297,2279,NaN
11,NaN,Staten Island (Richmond),444,470,5.9,472,472,473,474,476,476,NaN
12,NaN,Total,8009,8190,2.3,8399,8437,8468,8476,8438,8399,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,New York State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,Nassau,1335,1342,0.5,1352,1355,1355,1356,1358,1358,NaN
16,NaN,Putnam,96,100,4.2,100,99,99,99,99,99,NaN
17,NaN,Rockland,287,313,9.1,319,321,323,324,325,326,NaN
18,NaN,Suffolk,1419,1495,5.3,1497,1496,1492,1487,1484,1481,NaN
19,NaN,Westchester,924,951,2.9,965,967,969,971,969,968,NaN
20,NaN,Total,4061,4200,3.4,4234,4239,4239,4236,4234,4232,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,New Jersey Pennsylvania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,Bergen,884,906,2.5,920,924,927,929,934,937,NaN
24,NaN,Essex,792,784,-1.0,787,789,791,793,796,800,NaN
25,NaN,Hudson,609,636,4.4,657,661,665,669,673,676,NaN
26,NaN,Hunterdon,122,127,4.1,136,126,125,125,125,125,NaN
27,NaN,Middlesex,750,811,8.1,322,824,826,826,828,830,NaN
28,NaN,Monmouth,615,630,2.4,627,626,624,623,622,621,NaN
29,NaN,Morris,470,578,4.9,582,495,494,494,494,494,NaN
30,NaN,Ocean,511,578,13.1,582,584,587,591,595,602,NaN
31,NaN,Passaic,490,502,2.4,504,505,505,504,504,503,NaN
32,NaN,Somerset,298,324,8.7,329,329,330,330,330,331,NaN
33,NaN,Sussex,144,149,3.5,146,145,143,142,141,141,NaN
34,NaN,Union,523,538,2.9,546,548,550,553,555,558,NaN
35,NaN,"Pike, PA",46,57,23.9,56,56,55,55,56,56,NaN
36,NaN,Total,6254,6535,4.5,6599,6611,6622,6634,6653,6673,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,Notes: *Estimates are based on 2010 Census an...,Notes: *Estimates are based on 2010 Census an...,Notes: *Estimates are based on 2010 Census an...,Notes: *Estimates are based on 2010 Census an...,Notes: *Estimates are based on 2010 Census an...,Notes: *Estimates are based on 2010 Census an...,Notes: *Estimates are based on 2010 Census an...,Notes: *Estimates are based on 2010 Census an...,Notes: *Estimates are based on 2010 Census an...,Notes: *Estimates are based on 2010 Census an...,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,View Additional Population Data for NYC: Popu...,View Additional Population Data for NYC: Popu...,View Additional Population Data for NYC: Popu...,View Additional Population Data for NYC: Popu...,View Additional Population Data for NYC: Popu...,View Additional Population Data for NYC: Popu...,View Additional Population Data for NYC: Popu...,View Additional Population Data for NYC: Popu...,View Additional Population Data for NYC: Popu...,View Additional Population Data for NYC: Popu...,NaN
42,NaN,Source: U.S. Census Bureau - American Communi...,Source: U.S. Census Bureau - American Communi...,Source: U.S. Census Bureau - American Communi...,Source: U.S. Census Bureau - American Communi...,Source: U.S. Census Bureau - American Communi...,Source: U.S. Census Bureau - American Communi...,Source: U.S. Census Bureau - American Communi...,Source: U.S. Census Bureau - American Communi...,Source: U.S. Census Bureau - American Communi...,Source: U.S. Census Bureau - American Communi...,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<h2><a id = "item2"></a> Acquiring Foursquare data </h2> <a href = "#top"> back to top </a>

#### Toronto:

In [9]:
CLIENT_ID = 'NA0Q3HAIZG5G1XDGDI5ZCGQPBSNEP4SGYF5B0ULTZBDZHIOV' # your Foursquare ID
CLIENT_SECRET = 'HNVACZRJK5KNIEWX0IBRFZI0U3AG5NH1MUSWVUXBDWBFTU1J' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: NA0Q3HAIZG5G1XDGDI5ZCGQPBSNEP4SGYF5B0ULTZBDZHIOV
CLIENT_SECRET:HNVACZRJK5KNIEWX0IBRFZI0U3AG5NH1MUSWVUXBDWBFTU1J

In [10]:
# latitude and longitude of Toronto
tor_name = 'Toronto'
tor_lat = 43.6532
tor_lon = -79.3832
print('Latitude and longitude values of {} are {}, {}.'.format(tor_name, 
                                                               tor_lat, 
                                                               tor_lon))

Latitude and longitude values of Toronto are 43.6532, -79.3832.

### Explore venues in Toronto within 500 m radius

In [11]:
LIMIT = 100
radius = 500
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    tor_lat, 
    tor_lon,
    radius, 
    LIMIT)
url # display URL

'https://api.foursquare.com/v2/venues/explore?&client_id=NA0Q3HAIZG5G1XDGDI5ZCGQPBSNEP4SGYF5B0ULTZBDZHIOV&client_secret=HNVACZRJK5KNIEWX0IBRFZI0U3AG5NH1MUSWVUXBDWBFTU1J&v=20180605&ll=43.6532,-79.3832&radius=500&limit=100'

In [12]:
results = requests.get(url).json()

In [13]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [14]:
# results

In [15]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng', 'venue.location.postalCode']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

c:\users\jothika pc\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  This is separate from the ipykernel package so we can avoid doing imports until

                      name      categories        lat        lng postalCode
0         Downtown Toronto    Neighborhood  43.653232 -79.385296        NaN
1   Nathan Phillips Square           Plaza  43.652270 -79.383516    M5H 2N1
2                   Indigo       Bookstore  43.653515 -79.380696    M5B 2H1
3                     LUSH  Cosmetics Shop  43.653557 -79.380400    M5B 2H1
4  CF Toronto Eaton Centre   Shopping Mall  43.654540 -79.380677    M5B 2H1

Can extract postal codes of each venue (except those that dont have one)

Can scrape this site to get boroughs of each postal code area and then merge the two tables together

In [16]:
postal_codes = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
postal_codes = postal_codes[0]

ImportError: lxml not found, please install it

In [ ]:
postal_codes.dropna(inplace = True)

In [ ]:
postal_codes

In [ ]:
# codes = nearby_venues['postalCode']

In [ ]:
# split the postal code values to we just get the area code
for i in range(len(codes)):
    if not pd.isnull(codes[i]):
        codes[i] = codes[i].split()[0]

In [ ]:
len(codes)

In [ ]:
# postal_codes.set_index('Postal Code',inplace = True)

Create an array to store boroughs

#### This function takes a dataframe containing Foursquare data and will find the Borough location of each venue using its assigned postal code

In [ ]:
def get_postal_borough(dataframe):
    borough = []
    codes = dataframe['postalCode']
    # split the postal code values to we just get the area code
    for i in range(len(codes)):
        if not pd.isnull(codes[i]):
            codes[i] = codes[i].split()[0]
    
    
    for i in range(len(codes)):
        if not pd.isnull(codes[i]) and codes[i] in postal_codes.index:
            borough.append(postal_codes.at[codes[i],'Borough'])
        else:
            borough.append('not assigned')
    return borough

Add this array as a column to the dataframe

In [ ]:
nearby_venues['Borough'] = get_postal_borough(nearby_venues)

In [ ]:
nearby_venues.head(10)

<h2><a id = "item3"></a> Map of Toronto </h2><a href = "#top"> back to top </a>

In [ ]:
# !conda install -c conda-forge folium=0.5.0 --yes 
import folium # map rendering library
print('Folium imported')

In [ ]:
map_toronto = folium.Map(location=[tor_lat, tor_lon], zoom_start=10)

for lat, lng, postal, borough, name in zip(nearby_venues['lat'], nearby_venues['lng'], nearby_venues['postalCode'],nearby_venues['Borough'], nearby_venues['name']):
    label = '{},{}'.format(name,borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_toronto)  
    
map_toronto

<h2><a id = "item4"></a> Foursquare data for each Borough in Toronto</h2><a href = "#top"> back to top </a>

### I want to repeat this process for every borough in Toronto

In [ ]:
unique_boroughs = postal_codes['Borough'].drop_duplicates()

In [ ]:
# !conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

In [ ]:
address = 'Etobicoke, Toronto'

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinates are {}, {}.'.format(latitude, longitude))

#### This function uses the geocoders api to retrieve the coordinates of each borough in Toronto

In [ ]:
def get_borough_coords():
    borough_coords = []
    for i in range(len(unique_boroughs)):
        address = unique_boroughs[i]+', Toronto'

        geolocator = Nominatim(user_agent="ny_explorer")
        location = geolocator.geocode(address)
        latitude = location.latitude
        longitude = location.longitude
#         print('The geograpical coordinates of ' + unique_boroughs[i] + ' are {}, {}.'.format(latitude, longitude))
        borough_coords.append([unique_boroughs[i],latitude,longitude])
        
    return borough_coords

In [ ]:
# borough_coords = get_borough_coords()

In [ ]:
borough_coords

The geocoders data returned the same coordinates for East Toronto, West Toronto and Central Toronto. We may decide to drop the duplicate coordinates later on and just focus on one of those three areas.  
Lets turn this into a dataframe.

In [ ]:
coords_df = pd.DataFrame(borough_coords, columns = ['Borough','Lat','Lon'])
coords_df.drop_duplicates(subset = ['Lat','Lon'],inplace = True)
coords_df.reset_index(inplace = True)
coords_df.drop(columns = ['index'],inplace = True)
coords_df

In [ ]:
def get_4square_for_boroughs():
    i = 6

    lat = coords_df.loc[i,'Lat']
    lon = coords_df.loc[i,'Lon']
    LIMIT = 100
    radius = 500
    url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
        CLIENT_ID, 
        CLIENT_SECRET, 
        VERSION, 
        lat, 
        lon,
        radius, 
        LIMIT)
#         url # display URL
#     return url
    results = requests.get(url).json()
    results
    venues = results['response']['groups'][0]['items']
    
    df = json_normalize(venues) # flatten JSON

    # filter columns
    filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng', 'venue.location.postalCode']
    df =df.loc[:, filtered_columns]

    # filter the category for each row
    df['venue.categories'] = df.apply(get_category_type, axis=1)

    # clean columns
    df.columns = [col.split(".")[-1] for col in df.columns]
    
    # create a Borough column using the get_postal_borough funtion
    df['Borough'] = get_postal_borough(df)
    return df

In [ ]:
# url = get_4square_for_boroughs()

In [ ]:
# results = requests.get(url).json()

In [ ]:
local_venues = get_4square_for_boroughs()

In [ ]:
local_venues2 = get_4square_for_boroughs()

In [ ]:
local_venues.head(10)

This is how we can merge multiple dataframes into one master frame

In [ ]:
master_df = pd.DataFrame(columns = ['name','categories','lat','lng','postalCode','Borough'])

In [ ]:
frames = [local_venues,local_venues2]
master_df = pd.concat(frames)

In [ ]:
master_df

#### This function creates a dataframe for each borough with the available information retrieved from the Foursquare api, and returns a merged dataframe containing information for each borough

In [ ]:
def get_4square_for_boroughs():
    i = 0
    frames = []
    while i < coords_df.shape[0]:
        lat = coords_df.loc[i,'Lat']
        lon = coords_df.loc[i,'Lon']
        LIMIT = 100
        radius = 500
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lon,
            radius, 
            LIMIT)
    #         url # display URL
    #     return url
        results = requests.get(url).json()
        venues = results['response']['groups'][0]['items']

        df = json_normalize(venues) # flatten JSON

        # filter columns
        filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng', 'venue.location.postalCode']
        df =df.loc[:, filtered_columns]

        # filter the category for each row
        df['venue.categories'] = df.apply(get_category_type, axis=1)

        # clean columns
        df.columns = [col.split(".")[-1] for col in df.columns]

        # create a Borough column using the get_postal_borough funtion
        df['Borough'] = get_postal_borough(df)
        frames.append(df)
        i+=1
    return pd.concat(frames)

In [ ]:
master_df = get_4square_for_boroughs()

In [ ]:
 master_df.reset_index(inplace = True)

In [ ]:
master_df.head()

Now we have the venue information that was available from each Borough.  There are many venues that are not assigned a Borough, we might drop these values later.  
We can also see that a large majority of these venues are coming from Downtown Toronto.

<h2><a id = "item5"></a> Let's Create a Master Map </h2> <a href = '#top'> back to top </a>

In [ ]:
master_map = folium.Map(location=[tor_lat, tor_lon], zoom_start=12)

for lat, lng, postal, borough, name in zip(master_df['lat'], master_df['lng'], master_df['postalCode'],master_df['Borough'], master_df['name']):
    label = '{},{}'.format(name,borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(master_map)  
    
master_map

Now we can view the venues located in each borough